.navigation {
    background-color: $white;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 100%;
    z-index: 10;
    transition: 0.3s;

    &.is-open {
        transform: translateX(0);
    }

    @include md {
        transform: translateX(0);
        position: static;
        background-color: transparent;
        width: auto;
        margin-top: 1.4rem;
    }
}

.menu-button-container {
    display: none;
}

.navigation__close {
    display: block;
    background-image: url(./assets/images/icons/close.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 2.6rem;
    height: 2.6rem;
    border: none;
    background-color: transparent;
    font-size: 0;
    margin: 2rem;

    @include md {
        display: none;
    }
}

.menu-wrapper {
    list-style: none;
    margin: 0;
    padding: 4rem 0;

    @include md {
        display: flex;
        flex-direction: row;
        padding: 0;
    }
}

.menu-item {
    margin: 0;

    &:not(:last-of-type) {
        padding: 0 0 1rem; 

        @include md {
            padding: 0 1.7rem 0;
        }
    }

    &.menu-item-has-children {
        position: relative;
        padding: 0;
    
        @include md {
            padding: 0 3.7rem 0 1.7rem;
        }
    }

    a { 
        position: relative;
        display: block;
        font-family: 'InformaPro Bold';
        font-size: 2.4rem;
        text-transform: uppercase;
        color: $primary;
        text-decoration: none;
        padding: 0 2rem 0;
        transform: scale(1, 1.1);

        @include md {
            font-size: 2rem;
            color: $white;
            padding: 0;
            transition: 0.3s;

            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                height: 0.2rem;
                background-color: $white;
                transition: 0.3s;
            }

            &:hover {
                transform: scale(1.05, 1.15);

                &::after {
                    width: 100%;
                }
            }
        }

        @include lg {
            font-size: 2.4rem;
        }
    }
}

.navigation__buttons {
    .button--primary {
        width: auto;
        max-width: none;
        font-size: 2rem;
        margin: 0 2rem;
    }

    @include md {
        display: none;
    }
}

.sub-menu-toggle {
    width: 0.8rem;
    height: 0.8rem;
    background-color: transparent;
    border: none;
    transition: 0.3s;

    &::after {
        content: '';
        position: absolute;
        top: 0.6rem;
        right: 2rem;
        width: 0.8rem;
        height: 0.8rem;
        border-top: 0.2rem solid $black;
        border-right: 0.2rem solid $black;
        transform: rotate(135deg);
        transition: 0.3s;
        transform-origin: center;
    }

    &.is-open {
        &::after {
            top: 1rem;
            transform: rotate(315deg);
        }
    }

    .icon-plus {
        display: none;
    }

    .icon-minus {
        display: none;
    }

    @include md {
        &::after {
            content: '';
            right: 1rem;
            border-top: 0.2rem solid $white;
            border-right: 0.2rem solid $white;
        }
    }
}

.sub-menu {
    background-color: $primary;
    padding: 2rem 0;
    margin: 0 0 1rem;
    list-style: none;
    display: none;
    transition: 0.3s;
    max-height: 0;
    overflow: hidden;

    &.is-open {
        display: block;
        max-height: none;
    }

    .menu-item {
        a {
            color: $white;
        }
    }

    @include md {
        position: absolute;
        top: 3rem;
        left: 1.7rem;
        padding: 1rem 3rem;
        margin: 1rem 0 0;

        .menu-item {
            padding: 1rem 0;

            &:not(:last-of-type) {
                padding: 1rem 0;
            }

            a {
                font-size: 2rem;
                width: fit-content;
            }
        }
    }
}