.text-block {
    background-color: $secondary;
}

.text-block__wrapper {
    padding: 8rem 2rem;

    @include md {
        padding: 13rem 16rem 15rem;
    }
}

.text-block__text {
    font-size: 2.8rem;
    text-align: center;
    color: $white;

    @include md {
        position: relative;
        font-size: 3.8rem;
        max-width: 90rem;
        margin: 0 auto;
        animation: pop 0.6s ease 0s;

        &::before,
        &::after {
            content: '';
            position: absolute;
            background-repeat: no-repeat;
            background-size: 100%;
            animation: spin 2s ease 0s;
            animation-iteration-count: infinite;
        }

        &::before {
            top: -9rem;
            left: -15.5rem;
            width: 14.9rem;
            height: 16rem;
            background-image: url(./assets/images/icons/splodge1.svg);
        }

        &::after {
            bottom: -4rem;
            right: -13rem;
            width: 10.4rem;
            height: 8.4rem;
            background-image: url(./assets/images/icons/splodge2.svg);
        }
    }
}